body {
    /* CSS HSL */
    --jet: hsla(60, 3%, 17%, 1);
    --davys-grey: hsla(60, 3%, 29%, 1);
    --cool-grey: hsla(220, 15%, 58%, 1);
    --bittersweet-shimmer: hsla(355, 49%, 52%, 1);
    --bone: hsla(43, 38%, 90%, 1);

    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.45);
    --gutter: 30px;
    --footer-height: 25px;

    font-family: 'Noto Sans', sans-serif;
    background-color: var(--color2);
    background-color: var(--bone);
    color: var(--davys-grey);
}

#logout {
    right: 20px;
    top: 90px;
}

/* #vendors-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
} */
#vendors-div img {
    width: 500px;
    height: 280px;
    object-fit: cover;
}

header {
    width: 100vw;
    position: relative;
    top: -25px;
    border-bottom: 1px solid var(--jet);
    box-shadow: 0 4px 2px -2px gray;
}

header h1 {
    font-size: 3rem;
    margin: 0px;
    text-align: center;
    background-color: var(--bittersweet-shimmer);
    color: var(--bone);
    padding-top: 10px;
    padding-bottom: 50px;
}

#logout {
    font-size: 0.8rem;
    padding: 3px;
}

.hidden {
    display: none;
}

#vendor-container img {
    width: 100%;
}

#products-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#products-container img {
    width: 180px;
    height: 135px;
    object-fit: cover;
}

.detail-container h2 {
    font-family: 'Noto Serif Display', serif;
    font-size: 3rem;
}

.detail-container p {
    font-weight: 100;
}

.product p {
    font-family: 'Noto Serif Display', serif;
}

.vendor {
    position: relative;
    color: white;
    font-weight: 900;
    font-size: 2rem;
    font-family: 'Noto Serif Display', serif;
    text-align: center;
    margin: 10px;
}

.vendor p {
    position: absolute;
    top: -5px;
    left: 20px;
    background-color: hsla(60, 3%, 17%, 0.5);
    padding: 10px;
    border: 3px solid white;
    border-radius: 10px;
}

.vendor:hover {
    cursor: pointer;
}

.check {
    font-size: 4rem;
    color: var(--jet);
}

#cart-display {
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 700px;
    justify-content: center;
    margin: auto;
    border: 3px solid var(--cool-grey);
    border-radius: 5px;
    padding-bottom: 30px;
}

#cart-display h2 {
    font-size: 2rem;
    text-align: center;
    font-family: 'Noto Serif Display', serif;
}

#cart-display p {
    font-size: 1.2rem;
    font-weight: 300;
}

#cart-display img {
    border-radius: 10px;
}

button {
    background-color: white;
    border: 3px solid var(--cool-grey);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    color: var(--bittersweet-shimmer);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
}

button:hover {
    cursor: pointer;
    background-color: hsla(220, 15%, 58%, 0.4);
    color: hsla(355, 49%, 32%, 1);
    border: 3px solid hsla(220, 15%, 48%, 1);
}

#buttons-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 0px 20px 20px 20px;
    align-items: center;
    position: absolute;
    top: 70px;
}

.product-row img {
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.product-row {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    align-items: center;
    justify-content: space-between;
    margin: 5px 50px;
}

.auth-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.auth-container {
    margin: 10px;
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container button {
    margin: 10px;
}

p {
    text-align: center;
    font-weight: bold;
}
